{% block album_carousel %}
<div class="row justify-content-center align-items-center vh-100" id="albums_carousel_div">
    <div class="col-10">
        <div class="row justify-content-center rounded-5">
            <div class="col-12 d-flex justify-content-center">
                <img src="{{url_for('static', path='/images/logos/albums_logo.png')}}" alt="Albums" width="300">
            </div>
            <div class="col-12 px-0 rounded-5 mt-4">
                <div id="albums_carousel" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for item in range(albums|length) %}

                        {% if loop.first %}
                        <button type="button" data-bs-target="#albums_carousel" data-bs-slide-to="{{ loop.index - 1 }}"
                            class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                        {% else %}
                        <button type="button" data-bs-target="#albums_carousel" data-bs-slide-to="{{ loop.index - 1 }}"
                            aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                        {% endif %}

                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                            
                        {% include 'projects_content/albums_carousel.html' %}
                    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#albums_carousel"
                        data-bs-slide="prev">
                        <span aria-hidden="true">
                            <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
                        </span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#albums_carousel"
                        data-bs-slide="next">
                        <span aria-hidden="true">
                            <i class="fa-solid fa-circle-chevron-right fa-2xl"></i>
                        </span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-2 d-flex justify-content-center">
                    <a href="#projects" class="slider_products"><i class="fa-solid fa-up-long fa-xl"></i></a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <a href="#singles_cards" class="slider_products"><i class="fa-solid fa-down-long fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}