<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azuko</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/public/bundle.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon_azuko.ico') }}" type="image/x-icon">
</head>

<body id="extras">

    {% include 'elements/preloader.html' %}

    {% include 'elements/extras_header.html' %}

    {% include 'elements/bg_video_extras.html' %}

    <div class="container-fluid">

        {% include 'extras_content/extras_title.html' %}
        {% include 'extras_content/extras_genres.html' %}

    </div>

    {% include 'elements/extras_footer.html' %}

    <script src="{{ url_for('static', path='/public/bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/fb866d52e1.js" crossorigin="anonymous"></script>
</body>

</html>