{% block header %}
<header>
    <nav class="navbar navbar-expand fixed-top mx-5 py-0 mt-3">
        <div class="container nav_container d-flex justify-content-between">
            <a href="/" class="navbar-brand"><img src="{{url_for('static', path='/images/logos/logo_azuko.svg')}}"
                    width="120" alt="AZUKO"></a>
            <div class="navbar_links">
                <a href="/">HOME</a>
                <a class="mx-2" href="/playlist">PLAYLIST</a>
                <a href="/projects">PROJECTS</a>
                <a class="mx-2" href="/products">PRODUCTS</a>
                <a href="/extras">EXTRAS</a>
            </div>
            <div>
                <a href="#shop_modal" class="shopping_cart" data-bs-toggle="modal"><i
                        class="fa-solid fa-cart-shopping"></i></a>
                <a href="https://github.com/AzukoTazumaki" class="github"><i class="fa-brands fa-github fa-lg"></i></a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}