{% block main_2 %}
<div class="main-2">
    <span class="position-absolute" style="margin-top: 20vh;" id="main-2"></span>
    <div class="container-fluid">
        <div class="row d-flex align-items-center main-2-row">
            <div class="row d-flex justify-content-center">
                <div class="col-12 d-flex justify-content-center">
                    <p class="last_releases_title text-center">LAST RELEASES</p>
                </div>
                {% for release in last_releases %}
                <div class="col-3 p-5">
                    <div class="last_release">
                        {% if release.is_album %}
                        <a href="/playlist/albums/{{ release.id }}">
                            <img loading="lazy" src="{{ url_for('static', path='/images/projects/albums/covers/'+release.id|string+'.jpg') }}"
                            class="card-img-top img_release" alt="{{ release.title }}">
                        </a>
                        {% elif release.is_single %}
                        <a href="/playlist/singles">
                            <img loading="lazy" src="{{ url_for('static', path='/images/projects/singles/'+release.id|string+'.jpg') }}"
                            class="card-img-top img_release" alt="{{ release.title }}">
                        </a>
                        {% elif release.is_featuring %}
                        <a href="/playlist/featurings">
                            <img loading="lazy" src="{{ url_for('static', path='/images/projects/featurings/'+release.id|string+'.jpg') }}"
                            class="card-img-top img_release" alt="{{ release.title }}">
                        </a>
                        {% endif %}
                        <div class="release_info">
                            <p class="m-0 text-center release_title">{{ release.title }} | {{ release.date_release.strftime('%d %B %Y') }}</p>
                            <p class="m-0 text-center release_artist">
                                {% for artist in release.artists | sort(attribute='id') %}
                                {{ artist.name + ', ' if not loop.last else artist.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="#main-1" class="slider_buttons slider_button_up_2"><i class="fa-solid fa-up-long fa-xl"></i></a>
    <a href="#main-3" class="slider_buttons slider_button_down_2"><i class="fa-solid fa-down-long fa-xl"></i></a>
</div>

</div>
{% endblock %}