<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azuko</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/public/bundle.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon_azuko.ico') }}" type="image/x-icon">
</head>

<body style="background-color: rgb(37, 37, 37);">

    {% include 'shopping_cart_content/shopping_cart.html' %}

    {% include 'elements/preloader.html' %}
    
    {% include 'elements/header.html' %} 

    {% block content %}    
    {% endblock %}

    {% include 'elements/footer.html' %}

    <script src="{{ url_for('static', path='/public/bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/fb866d52e1.js" crossorigin="anonymous"></script>
</body>

</html>