{% extends 'index.html' %}

{% block content %}

{% include 'elements/bg_video.html' %}

<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <span class="text-center order_available_soon_text">ORDERS WILL BE AVAILABLE SOON</span>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <a href="/home">
                    <button class="other_products_button">MAIN PAGE</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}