{% block shopping_cart %}
<div class="modal fade" id="shop_modal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-dark p-4">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="modal_title m-0">AZUKO SHOP</h1>
                <button type="button" class="modal_close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-rectangle-xmark fa-2xl"></i>
                </button>
            </div>
            <hr>
            <div class="row d-flex align-items-center modal_body">
               <span class="text-center no_items">NO ITEMS IN SHOPPING CART</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="modal_total_price">Total: <span class="shop_total_price">0&nbsp;<i class="fa-solid fa-ruble-sign"></i></span></h3>
                <a href="/order">
                    <button type="button" class="modal_buy_button" data-bs-dismiss="modal" aria-label="Close">
                        PROCEED TO CHECKOUT
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}